<html>

<head>
    <title>Edit User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../js/search_user_ctrl.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <div ng-app="searchUsersApp"><br />

        <div class="container" ng-controller="searchUsersCtrl">

            <h3>Edit User Details</h3>
            <div>
                <table>
                    <tr>
                        <td> ID</td>
                        <td><input class="tableInput" type="text" ng-model="userData.id" disabled /></td>
                    </tr>
                    <tr>
                        <td> First Name</td>
                        <td><input class="tableInput" type="text" ng-model="userData.firstName" /></td>
                    </tr>
                    <tr>
                        <td> Last Name</td>
                        <td><input class="tableInput" type="text" ng-model="userData.lastName" /></td>
                    </tr>
                    <tr>
                        <td> Date of birth</td>
                        <td><input class="tableInput" type="text" ng-model="userData.birthDate" /></td>
                    </tr>
                    <tr>
                        <td> Email </td>
                        <td><input class="tableInput" type="text" ng-model="userData.email" /></td>
                    </tr>
                    <tr>
                        <td> Phone No</td>
                        <td><input class="tableInput" type="text" ng-model="userData.phoneNumber" /></td>
                    </tr>
                    <tr>
                        <td> Password</td>
                        <td><input class="tableInput" type="text" ng-model="userData.password" /></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input class="tableInput" type="text" ng-model="userData.address" /></td>
                    </tr>
                    <tr>
                        <td> Registered At </td>
                        <td><input class="tableInput" type="text" ng-model="userData.createdAt" /></td>
                    </tr>
                </table>
                <input type="submit" style="width: 100px; margin: 10px;" ng-click="editUser()" value="Submit">

            </div>

            <div>
                <h3> {{editUserRespData.message}} </h3>
            </div>

        </div>
        <br />
    </div>

</body>

</html>