<!DOCTYPE html>
<html>
<head>
<title>
Reset Password
</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="/js/controller_otp.js"></script>
<!--	<script type="text/javascript" src="/js/controller_reset.js"></script>		-->
</head>

<body>

<div ng-app="postSendOTP" ng-controller="postOtpCtrl">

<div>

Email : <input type="name"ng-model="email" /><br/><br/>
<input type="button" value="Send OTP" ng-click="postdata(email)" /> <br/><br/>

</div></div>	

<div ng-app="postResetPass" ng-controller="postResetPassCtrl">
<div>
OTP: <input type="password" ng-model="otp" /><br/><br/>
Password : <input type="password" ng-model="newPassword" /><br/><br/>
Re-Password : <input type="password" ng-model="newPasswordRe" /><br/><br/>

<input type="button" value="Send" ng-click="postdata(email, newPassword, otp)" /> <br/><br/>
<a href="/views/reset_password.html">Need help?</a><br/>
<a href="/views/register.html">New User? Register here</a>

</div>
</div>

</body>

</html>
